APP_NAME=OphthaAI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=ophtha
DB_USERNAME=ophtha
DB_PASSWORD=ophtha

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=ophtha-bucket
AWS_ENDPOINT=http://minio:9000
